<app-menu logo="Action Gym" ></app-menu>
<app-app-swiper-example></app-app-swiper-example>

<app-app-form-example></app-app-form-example>

<app-signup color="red" signuptext="SignUp" addText="+" minusText="-" ></app-signup>


<!-- <app-blog [title] = "'Title One'" ></app-blog>
<app-blog [title] = "'Title Two'" ></app-blog>
<app-blog [title] = "'Title Three'"></app-blog>
<app-blog [title] = "'Title Four'"></app-blog>

<app-blog>
  <p>Using ng child</p>
  <p question>What's Your Name</p>
  <p answer>My name is jhon</p>

  <h2 mynane >jhon</h2>

</app-blog> -->


 